* {
    font-family: Helvetica, sans-serif;
}

body {
  margin-bottom: 56px;
}

.img-container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .top-left {
    position: absolute;
    top:32px;
    left: 24px;
    text-align: left;
  }

  .MuiSnackbar-root{
    z-index: 999;
  }